annotated-types
anyio
click
colorama
dnspython
email-validator
fastapi
h11
httptools
idna
pydantic
pydantic_core
python-dotenv
python-multipart
PyYAML
starlette
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
pymongo